rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'bashir7771117@gmail.com' ||
        request.auth.token.email == 'bashir773255@gmail.com' ||
        request.auth.token.email == 'bashir7732557@gmail.com'
      );
    }

    match /test/{docId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }

    match /deleted_users/{userId} {
      allow read, write: if true;
    }

    match /admin_roles/{userId} {
      allow read, write: if true;
    }

    match /orders/{orderId} {
      allow read, write: if true;
    }

    match /customer_perks/{perkId} {
      allow read, write: if true;
    }

    match /customer_wallets/{userId} {
      allow read, write: if true;
    }

    match /chats/{chatId} {
      allow read, write: if true;

      match /messages/{messageId} {
        allow read, write: if true;
      }
    }
  }
}
